<header>
    <nav>
        {{#if logged_in}}
        <a class="btn" href="/profile">profile</a> |
        <button class="btn" id="logoutBtn">logout</button>
        {{else}}
        <a class="btn" href="/login" id="logInBtn">login</a>
        {{/if}}
    </nav>
</header>


<div class="viewBlog">
    <div class="homeBlogContainer">
        <div class="homeBlogDiv">
            <div class="homeBlogHeader">
                <h2 class="homeBlogTitle">
                    {{title}}
                </h2>
                <p>Written by {{user.name}} on {{format_date date_created}}</p>
            </div>
        </div>
        <div class="homeBlogDescDiv">
            <p class="blogPreview">
                {{body}}
            </p>
        </div>
    </div>

    <div class="commentSection">
        <button class="btn" id="commentBtn">Comment</button>
        <form style="display: none;" class="commentForm">
            <textarea class="commentTxt" rows="5" cols="30"></textarea> <br>
            <button id='commentSubmit' class="btn">Submit</button>
        </form>

        <!-- Check for blog comments -->
        {{#if comments}}
        {{#each comments as |comment|}}
        <div class="commentContainter">
            <div class="homeBlogDiv">
                <div class="homeBlogHeader">
                    <p>Commented by {{comment.comment_by}} on {{format_date comment.date_created}}</p>
                </div>
            </div>
            <div class="homeBlogDescDiv">
                <p class="blogPreview">
                    {{comment.body}}
                </p>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="comments">
            <h2 id="noComment">No Comments on This Post Yet..</h2>
        </div>
        {{/if}}
    </div>
</div>

<script src="/js/comment.js"></script>