<header>
    <nav>
        {{#if logged_in}}
        <a class="btn" href="/profile">profile</a> |
        <button class="btn" type="submit " id="logoutBtn">logout</button>
        <a href="/publish" class="btn" id="createBtn"> Publish a New Post</a>
        {{else}}
        <a class="btn" href="/login" id="logInBtn">login</a>
        {{/if}}
    </nav>

</header>

<h1>Latest Blogs:</h1>
{{#if blogs}}

{{#each blogs as |blog|}}
<div class="homeBlogContainer">
    <div class="homeBlogDiv">
        <h2>
            <a href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
        <p>
            {{blog.body}}
        </p>
        <p>Created by {{blog.username}} on {{format_date blog.date_created}}</p>
    </div>
    <div class="homeBlogDescDiv">
        <p>
            {{blog_Preview blog.body}}
        </p>
    </div>
</div>
{{/each}}

{{else}}
<h2> No Blogs Yet!</h2>
<p> Log in to make a post :)</p>
{{/if}}

<script src="./js/logout.js"></script>